## Praca domowa (16 pkt)

Wgraj dane z pliku DANE_PAD_O3.csv jako ramkę danych.

Oblicz liczebność każdej wartości w kolumnie COUNTRY.

In [1]:
import pandas as pd
import csv
#data = pd.read_csv('president_heights.csv')
df = pd.read_csv('PAD_03_PD.csv',sep = ';')
df['Country'].value_counts()

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

W nowej kolumnie ‘owned_goods’ dodaj zmienną, która będzie informowała o liczbie posiadanych dóbr (zliczyć ile dana osoba posiada w sumie dóbr).

In [2]:
df['owned_goods'] = df['owns_car'] + df['owns_TV'] + df['owns_house'] + df['owns_Phone']
df.head()

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owned_goods
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0

Porównaj średnią posiadanych dóbr między kobietami i mężczyznami. Wynik zaokrąglij do 2 miejsc po przecinku.

In [3]:
dfm = df[df['gender'] == 'M']
print('Srednia mezczyzn = ', dfm['owned_goods'].mean().round(2))
dfk = df[df['gender'] == 'K']
print('Srednia kobiet = ', dfk['owned_goods'].mean().round(2))

Srednia mezczyzn =  0.89
Srednia kobiet =  2.8

Stwórz ramkę danych, która zawierać będzie w pierwszej kolumnie wartość zmiennej COUNTRY, w drugiej kolumnie, średnią posiadanych dóbr w danym kraju (Wynik zaokrąglij do 2 miejsc po przecink), a w trzeciej kolumnie minimum wieku.

In [6]:
df2 = df.groupby(['Country']).mean(['owned_goods']).round(2)
df3 = df.groupby(['Country']).min(['Age'])
df2['Age'] = df3['Age']
df2 = df2[['owned_goods', 'Age']].reset_index(drop = False)
df2

  Country  owned_goods  Age
0       A         0.86   18
1       B         1.46   18
2       C         3.03   18
3       D         4.00   18